/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ibm-plex-sans-condensed-regular - latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans Condensed'), local('IBMPlexSansCond'),
       url('../static/fonts/ibm-plex-sans-condensed-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../static/fonts/ibm-plex-sans-condensed-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../static/fonts/raleway-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../static/fonts/raleway-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-500 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../static/fonts/raleway-v18-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../static/fonts/raleway-v18-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: #333;
}

body {
  margin: 2em;
  background-color: #f9f8f4;
}

div.container {
  /*margin: 0 1em;*/
}

#menu-mobile {
  display: none;
}

main img {
  margin-bottom: 1em;
}

img.center {
  display: block;
  margin: 1em auto;
  width: 100%;
  max-width: 100%;
}

header, main, aside {
  padding: 0.9em 0 0 0;
  /* font-size: 2.5em; */
}

.content-padding {
  /* padding-bottom: 1.5rem; */
  /*padding-top: 3rem;*/
}

header div {
  display: inline-block;
}

#menu div {
  font-size: 2em;
}
#menu div.entry {
  margin-left: 2em;
}
#menu a, #menu-mobile a {
  text-decoration: none;
  color: #000;
}

hr {
	background: rgba(0, 0, 0, 0.85);
	border: 0;
	height: 2px;
  display: block;
  clear: both;
}
#menu hr {
  margin-top: 3em;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.float-left {
  float: left!important;
}
.float-right {
  float: right!important;
}

main h1 {
  font-size: 2.5rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;
  margin: 0 0 0.5em 0;
}

aside h3 {
  font-size: 2em;
}
aside h4 {
  margin-top: 0.45em;
  font-size: 1.7em;
}

aside p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  margin-bottom: 0.3em;
  margin-top: 0.35em;
  line-height: 1.4;
  max-width: 1024px;
}
aside p strong {
  font-weight: 500;
}

#footer p {
  font-size: 1em;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  margin-bottom: 0;
}

#show-impress {
  margin-bottom: 1em;
  font-size: 1em;
  cursor: pointer;
}

@media all and (max-width: 769px) and (min-width: 300px) {
  body {
    margin: 0;
  }

  #menu {
    display: none;
  }

  #menu-mobile {
    display: block;
    font-size: 1.5em;
    padding: 0.5em 0.5em 0 0.5em;
  }
  #menu-mobile div.small {
    font-size: 0.5em;
  }

  .content-padding {
    padding-top: 1.5rem;
  }

  div.container {
    font-size: 1.5em;
  }

  header, main, aside {
    padding: 0.5em 0.7em 0 0.7em;
  }

  header div {
    display: block;
    margin-bottom: 0.3em;
  }

  main h1 {
    font-size: 1.5rem;
    line-height: 1.3;
    hyphens: auto;
    -webkit-hyphens: auto;
  }

  hr {
    margin: 0.5em 0 0 0;
  }

  img.center {
    margin: 0.3em 0 0.9em -1em;
    min-height: 191px;
    max-width: unset;
    width: calc(100% + 1.7em);
  }

  aside h3 {
    font-size: 1.3em;
    margin-bottom: 0.3em;
  }
  aside h4 {
    font-size: 1em;
    line-height: 1.2em;
  }

  aside p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.4;
    font-size: 0.8em;
    margin-bottom: 0.3em;
    margin-top: 0.35em;
    hyphens: auto;
    -webkit-hyphens: auto;
  }

  #show-impress, #footer p {
    font-size: 0.8em;
  }
}